:root {
  --color-bg: #2D394A;
  --color-bg-dark: #232E3E;
  --color-black: #000;
  --color-dark: #454545;
  --color-line: #A2B9C2;
  --color-pink: #ED9E98;
  --color-red: #CE427A;
  --color-white: #fff;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input {
  color: inherit;
  font-family: inherit;
}
