$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Playfair Display', serif;

$slick-font-path: '../../dist/plugins/slick-carousel/slick/fonts/';
$slick-loader-path: '../../dist/plugins/slick-carousel/slick/';
