@import 'variables';
@import 'dist/plugins/bootstrap/scss/bootstrap.scss';
@import 'dist/plugins/slick-carousel/slick/slick.scss';
@import 'dist/plugins/slick-carousel/slick/slick-theme.scss';
@import 'functions';
@import 'typography';
@import '_normalize';

.trinity {
  &__navbar {
    z-index: 9999;

    @include media-breakpoint-up(lg) {
      padding-top: 120px;
    }

    &__call {
      background-color: var(--color-bg-dark);
      font-size: 16px;
      left: 0;
      margin-bottom: 32px;
      padding: 8px 0;
      width: 100%;

      @include media-breakpoint-up(lg) {
        background-color: transparent;
        font-size: 20px;
        margin-bottom: 0;
        order: 1;
        width: auto;
      }
    }

    &__logo {
      @include media-breakpoint-up(lg) {
        height: auto;
        width: 215px;
      }
    }
  }

  &__hero {
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-line);
    margin-bottom: 31.5px;
    padding-top: 132px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 79.5px;
      padding-top: 234px;
    }

    &__bottom {
      padding-bottom: 120px;

      @include media-breakpoint-up(lg) {
        background-color: var(--color-white);
        padding-bottom: 106px;
        padding-top: 42px;
      }
    }

    &__title {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 16px;
      max-width: 584px;

      @include media-breakpoint-up(lg) {
        font-size: 56px;
        line-height: 75px;
        margin-bottom: 26px;
      }
    }

    &__info {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 16px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 86px;
      }
    }

    &__description {
      color: var(--color-white);

      @include media-breakpoint-up(lg) {
        color: var(--color-dark);
      }

      p {
        margin-bottom: 8px;
      }

      u {
        @include media-breakpoint-up(lg) {
          color: var(--color-bg);
        }
      }

      &__items {
        color: var(--color-white);
        font-size: 16px;
        line-height: 25px;
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: 8px;

        @include media-breakpoint-up(lg) {
          color: var(--color-dark);
        }

        li {
          display: grid;
          grid-template-columns: 0 1fr;
          grid-gap: 18px;
          align-items: start;

          &::before {
            background-image: url(../images/check-mark.svg);
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            display: block;
            height: 12px;
            margin-top: 7px;
            width: 12px;
          }
        }
      }
    }
  }

  &__signup-form {
    &__container {
      background-color: var(--color-white);
      padding-bottom: 31.5px;

      @include media-breakpoint-up(lg) {
        background-color: transparent;
        padding-bottom: 79.5px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &__wrapper {
      border-radius: 7PX;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
      margin-top: -96px;
      padding: 32px 17px;
      pointer-events: all;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }
    }

    &__alert {
      color: var(--color-red);
      font-size: 18px;
      letter-spacing: 3.13px;
      line-height: 24px;
      margin-bottom: 3px;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        letter-spacing: 3.83px;
        line-height: 29px;
        margin-bottom: 22px;
      }
    }

    &__title {
      color: var(--color-bg);
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 16px;

      @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 43px;
      }
    }

    button[type="submit"] {
      background-color: var(--color-bg);
    }

    .form-group {
      margin-bottom: 21.5px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 23.5px;
      }

      label {
        margin-bottom: 7.5px;
      }
    }
  }

  &__section {
    $section: &;

    padding: 32px 0;

    @include media-breakpoint-up(lg) {
      padding: 80px 0;
    }

    &__description {
      font-size: 16px;
      line-height: 25px;

      p {
        margin-bottom: 8px;
      }
    }

    &__title {
      color: var(--color-dark);
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 24px;

      @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 45px;
      }
    }

    &--mission {
      background: linear-gradient(333.86deg, #A16F86 0%, #625180 47.9%, #3C3159 100%);

      #{ $section } {
        &__description {
          margin-bottom: 32px;

          @include media-breakpoint-up(lg) {
            margin-bottom: 48px;
          }
        }
      }
    }

    &--customers {
      #{ $section } {
        &__title {
          font-size: 18px;
          letter-spacing: 1.64px;
          line-height: 25px;
          margin-bottom: 16px;

          @include media-breakpoint-up(lg) {
            font-size: 22px;
            letter-spacing: 2px;
            margin-bottom: 32px;
          }
        }
      }
    }
  }

  &__mission {
    $missionImageHeight: 612;
    $missionImageWidth: 1080;
    $missionImageGap: 16px;

    margin-bottom: 24px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    &__content {
      border-radius: 7px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
      padding: calc((100vw - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * .5 + 16px) 16px 30px;
    }

    &__description {
      color: var(--color-dark);
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 11px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 16px;
      }
    }

    &__image {
      margin-bottom: calc((100vw - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * (-.5));
      padding: 0 16px;
    }

    &__info {
      color: var(--color-red);
      font-size: 16px;
      letter-spacing: 2.78px;
      line-height: 21px;
      margin-bottom: 9px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 4px;
      }
    }

    &__title {
      color: var(--color-bg);
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 8px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 8px;
      }
    }

    &__link {
      background-color: var(--color-bg);
      font-size: 16px;
      line-height: 25px;
    }

    @include media-breakpoint-up(sm) {
      $containerMaxWidth: get-breakpoints('sm');

      &__content {
        padding-top: calc((#{$containerMaxWidth} - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * .5 + 16px);
      }

      &__image {
        margin-bottom: calc((#{$containerMaxWidth} - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * (-.5));
      }
    }

    @include media-breakpoint-up(md) {
      $containerMaxWidth: get-breakpoints('md');
      $missionImageGap: 52px;

      &__content {
        padding-top: calc((#{$containerMaxWidth} - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * .5 + 16px);
      }

      &__image {
        margin-bottom: calc((#{$containerMaxWidth} - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * (-.5));
        padding: 0 $missionImageGap;
      }
    }

    @include media-breakpoint-up(lg) {
      $containerMaxWidth: get-breakpoints('lg');
      $missionImageGap: 52px;

      &__content {
        padding: calc((#{$containerMaxWidth} * 0.5 - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * .5 + 16px) 48px 48px;
      }

      &__image {
        margin-bottom: calc((#{$containerMaxWidth} * 0.5 - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * (-.5));
        padding: 0 $missionImageGap;
      }
    }

    @include media-breakpoint-up(xl) {
      $containerMaxWidth: get-breakpoints('xl');
      $missionImageGap: 52px;

      &__content {
        padding-top: calc((#{$containerMaxWidth} * 0.5 - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * .5 + 16px);
      }

      &__image {
        margin-bottom: calc((#{$containerMaxWidth} * 0.5 - 15px * 2 - 2 * #{$missionImageGap}) / #{$missionImageWidth} * #{$missionImageHeight} * (-.5));
      }
    }
  }

  &__value {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
    color: var(--color-dark);
    margin-bottom: 16px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    &__content {
      padding: 15px 16px 23px;

      @include media-breakpoint-up(lg) {
        padding: 24px 16px 22px;
      }
    }

    &__image {
      background-color: var(--color-pink);
    }

    &__title {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 8px;
    }
  }

  &__customers-slider {
    .slick-dots {
      li {
        border-radius: 50%;
        height: 9px;
        margin-left: 7px;
        width: 9px;
        border: 1px solid var(--color-line);

        button {
          background-color: transparent;
          height: 100%;
          width: 100%;

          &::before {
            content: none;
          }
        }

        &:first-child {
          margin-left: 0;
        }

        &.slick-active {
          background-color: var(--color-line);
        }
      }
    }

    .slick-slide {
      padding: 0 8px;
    }
  }

  &__footer {
    background-color: var(--color-bg);
    padding: 16px 0;

    @include media-breakpoint-up(lg) {
      padding: 24px 0 17px;
    }

    &__logo {
      margin-bottom: 14px;
    }

    &__right {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
